html,body{
  height: 100vh;
  width:100vw;
}
body{
  /* background-image:url('/static/personal/img/home-bg-img.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
*{
  font-family: 'Nunito', sans-serif; /*Berlin Sans FB;*/
  margin: 0;
  padding: 0;
}

.nav-link .navbar-brand{
  color: WHITE !important;
}
.navbar-brand{
  font-size: 3vw !important;
  font-family: 'Pacifico', cursive;
}
.nav-link{
  font-size: 1.5vw !important;
  font-family: 'Josefin Sans',sans-serif;
}
.navbar-nav li{
  padding-right: 1.5vw;
  padding-left: .5vw;
}
.navbar-toggler-icon{
  /* background-color: transparent !important; */
}
.content{
  margin-top: 50vw;
  margin-bottom: 5vw;
}
h1{
  font-size: 5vw !important;
}
p{
  font-size: 22px;
  text-align: justify;
  /* font-family: 'Montserrat', sans-serif !important; */
}

.parallax{
  height:30vw;
  width:100vw;
  margin-top: 5vw;
  background-image: url('/static/personal/img/footer-bg.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: WHITE;
}
input[type="text"]
{
  width: 25vw;
}
textarea{
  width: 52vw;
}

.contactus h1{
  text-align: center;
}

footer p{
text-align: center;
}
/* Ghost CSS for debugging */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
