html,body{
  height: auto;
  width:100%;
  overflow-x: hidden; 
}
body{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: WHITE;
}
  
*{
  font-family: 'Nunito', sans-serif; 
  margin: 0;
  padding: 0;
}

.landing
{
 padding: 0;
 margin: 0; 
}

.landing img{
  height:auto;
  width:100vw;
}
.navbar-brand{
  font-size: 2rem !important;
  font-family: 'Pacifico', cursive;
}
.nav-link{
  font-size: 1rem !important;
  font-family: 'Josefin Sans',sans-serif;
}
.navbar-nav li{
  padding-right: 1.5vw;
  padding-left: .5vw;
}

.navbar-toggler {
  position: absolute;
  top: 1.25rem;
  
}

.navbar-toggler-icon{
  width: 1em;
  height: 1em;
  text-align: center;
}

.content{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.content h2{
  font-family: 'Josefin Sans',sans-serif;
}
.content-body p{
  font-size: 1rem;
  text-align: justify;
}


.parallax{
  height:30vw;
  width:100vw;
  margin-top: 5vw;
  background-image: url('/static/personal/img/footer-bg.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: WHITE;
}


.contactus p{
  text-align: justify;
}
.contactus h1{
  text-align: center;
}

footer p{
text-align: center;
}
/* Ghost CSS for debugging */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
@media (max-width: 792px){
  .nav-link{
    font-size: .75rem !important;
  }
}
@media (max-width: 768px) { 
  .nav>li {
	text-align: center;
  }
  .nav-link{
    font-size: 1rem !important;
  }
  .parallax {
    height: 50vw;
}
}