{% extends "personal/base.html" %}
{% include 'personal/navbar.html' %}

{% block content %}
<div class="container blogcontent">
	{% for post in object_list %}
	<div class="row blog-article">
		<!--<div class="col-sm-12">
			<h5 class="post-title"><a href="/blog/{{post.id}}"> {{post.title}}</a></h5>
			<p class="blog-post-meta">{{ post.date|date:"d-m-Y" }}</p>
		</div>-->
		<div class="col-sm-4 article-img">
			{% if post.image %}
			<img src="{{ post.image.url }}" width="300">
			{% endif %}
		</div>
		<div class="col-sm-8">
			<h5 class="post-title"><a href="/blog/{{post.id}}"> {{post.title}}</a></h5>
			<p class="blog-post-meta">{{ post.date|date:"d-m-Y" }}</p>
			<p class="text-left">{{ post.body|safe|truncatewords:"25" }}</p>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
