{% extends "personal/base.html" %}


{% block content %}
<div class="container blogcontent">
	<div class="row">
		<div class="col-md-12 post-title">
			<h1>{{post.title}}</h1>
		</div>
		<div class="col-md-12 post-date-time">
			<h6>{{post.date}}</h6>
		</div>
		<div class="col-md-12 post-image text-center">
		{% if post.image %}
		<img src="{{ post.image.url }}" class="img-fluid">
		{% endif %}
		</div>
		<div class="col-md-12 post-body text-center">
		{{post.body|safe|linebreaks}}
		</div>
	</div>
</div>
{% endblock %}
