{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<title>{% block head_title %}Delicious by Dhanya{% endblock %}</title>

	{% include 'personal/head_css.html' %}
	{% include 'personal/javascript.html' %}
</head>

<body>

{% include 'personal/navbar.html' %}

{% block homeimg %}
{% endblock %}

{% block content %}
{% endblock %}



<!-- Footer -->
{% include 'personal/footer.html' %}

</body>
</html>
