{% extends "personal/base.html" %}
{% block head_title %}{{ block.super }} | Welcome{% endblock %}

{% block additional_styles %}
<style>
   /* body {
    background-image:url('/static/personal/img/home-bg-img.jpg');
   } */
   /*
      //for making homepage navigation text white with transparent background//
   nav a{
    color: WHITE !important;
   }
   nav a:hover{
     color:#d2d2d2 !important;
   }
   nav{
     background-color: transparent !important;
   }
   .navbar-light .navbar-toggler{
     border-color: #ced4da4a;;
   }
 */
</style>
{% endblock %}

{% block homeimg %}
  <img src="./static/personal/img/home-bg-img.jpg" class="img-fluid" alt="Responsive image"/>
{% endblock %}

{% block content %}
<div class="container content text-center">
  <h1>What We Offer</h1>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-4">
      <i class="fas fa-bars fa-7x"></i>
      <p class="pt-5">F Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
    <div class="col-4">
      <i class="far fa-check-circle fa-7x"></i>
      <p class="pt-5">S Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
    <div class="col-4">
      <i class="fas fa-comment-dots fa-7x"></i>
      <p class="pt-5">T Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
  </div>
</div>

<!--Parallax-->
<div class="parallax">
</div>

<!--Contact Us-->
{% include 'personal/contact.html' %}

{% endblock %}
