{% extends "personal/base.html" %}
{% block head_title %}{{ block.super }} | Welcome{% endblock %}

{% block additional_styles %}
<style>
   /* body {
    background-image:url('/static/personal/img/home-bg-img.jpg');
   } */
   /*
      //for making homepage navigation text white with transparent background//
   nav a{
    color: WHITE !important;
   }
   nav a:hover{
     color:#d2d2d2 !important;
   }
   nav{
     background-color: transparent !important;
   }
   .navbar-light .navbar-toggler{
     border-color: #ced4da4a;;
   }
 */
</style>
{% endblock %}

{% block homeimg %}
<div class= "container-fluid landing">
  <img src="./static/personal/img/home-bg-img.jpg" class="img-fluid" alt="Responsive image"/>
</div>
{% endblock %}

{% block content %}
<div class="container content text-center">
  <h2>What We Offer</h2>
</div>

<div class="container text-center">
  <div class="row content-body">
    <div class="col-sm-4">
      <i class="fas fa-truck fa-5x"></i>
      <h3 class="pt-3">Free Delivery</h3>
      <p class="pt-3">F Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
    <div class="col-sm-4">
      <i class="fas fa-birthday-cake fa-5x"></i>
      <h3 class="pt-3">Tasty Treats</h3>
      <p class="pt-3">S Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
    <div class="col-sm-4">
      <i class="fas fa-star fa-5x"></i>
      <h3 class="pt-3">Fresh & Natural</h3>
      <p class="pt-3">T Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
  </div>
</div>

<!--Parallax-->
<div class="parallax">
</div>

<!--Contact Us-->
{% include 'personal/contact.html' %}

{% endblock %}
